/* Define a codificação de caracteres utilizada no arquivo */

@charset "UTF-8";

/* Define variáveis CSS globais para serem utilizadas no restante do código */

:root {
    --head_footer: #2E948A;
    /* Cor do cabeçalho e rodapé */
    --head_footer_hover: #4ad3c5;
    /* Cor do cabeçalho e rodapé ao passar o mouse */
    --background0: #E5E5E5;
    /* Cor de fundo principal */
    --background1: #F7F7F7;
    /* Cor de fundo secundária */
    --bottom_titulo_rosa: #FF4081;
    /* Cor do título rosa na parte inferior */
    --titulo_verde: #009688;
    /* Cor do título verde */
    --p: #000000;
    /* Cor do texto */
    --a: #FDFDFD;
    /* Cor dos links */
}


/* Define um estilo base para todos os elementos do HTML */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Define as características dos links */

a {
    color: var(--a);
    text-decoration: none;
}


/* Define o estilo do cabeçalho */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--head_footer);
    height: 4.6875rem;
    padding: 1rem;
}


/* Define o estilo do logotipo */

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}


/* Define o estilo dos rótulos (labels) */

label {
    align-items: center;
}


/* Define o estilo do menu */

.menu {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}


/* Define o estilo dos links do menu */

.menu a {
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
}


/* Define o estilo dos links do menu ao passar o mouse */

.menu a:hover {
    background: var(--head_footer_hover);
    color: #000000;
}


/* Define o estilo do botão de menu (para telas pequenas) */

.btn-menu {
    display: none;
}


/* Define as regras CSS para telas com largura máxima de 700px */

@media (max-width: 700px) {
    /* Media query para dispositivos com tela de até 700px de largura */
    .menu {
        /* Classe para o menu */
        display: block;
        /* Exibe o menu */
        position: absolute;
        /* Posiciona o menu de forma absoluta */
        top: 4.6875rem;
        /* Distância em relação ao topo */
        left: 0;
        /* Distância em relação à esquerda */
        background: var(--head_footer);
        /* Cor de fundo */
        text-align: center;
        /* Centraliza o conteúdo */
        width: 100%;
        /* Largura do menu */
        height: 0;
        /* Altura inicial do menu (escondido) */
        z-index: 1;
        /* Z-index para definir a ordem de sobreposição de elementos */
        visibility: hidden;
        /* Esconde o menu */
        overflow-y: hidden;
        /* Oculta o scroll vertical */
        transition: 0.7s;
        /* Efeito de transição com duração de 0.7 segundos */
    }
    .menu a {
        /* Estilização dos links do menu */
        padding: 1rem 0;
        /* Espaçamento interno no topo e na base */
        margin-bottom: 1rem;
        /* Espaçamento externo na base */
        border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
        /* Borda inferior com 0.0625rem de largura, cor preta com 16% de transparência */
        border-radius: 0;
        /* Remove o arredondamento dos cantos */
    }
    .btn-menu {
        /* Botão para abrir o menu */
        background: none;
        /* Sem cor de fundo */
        border: none;
        /* Sem borda */
        font: inherit;
        /* Herda a fonte definida */
        display: flex;
        /* Exibe como um flex container */
        align-items: center;
        /* Centraliza verticalmente os itens */
        gap: 0.5rem;
        /* Espaçamento entre os itens */
        color: var(--a);
        /* Cor do texto do botão */
        padding-block: 1rem;
        /* Espaçamento interno no topo e na base */
        cursor: pointer;
        /* Transforma o cursor em uma mãozinha ao passar o mouse */
    }
    .hamburger {
        /* Ícone de menu (hamburguer) */
        border-top: 0.125rem solid;
        /* Borda superior com 0.125rem de largura */
        width: 1.25rem;
        /* Largura do ícone */
    }
    .hamburger::before,
    /* Estilização do primeiro traço do ícone */
    .hamburger::after {
        /* Estilização do segundo traço do ícone */
        content: " ";
        /* Adiciona um espaço em branco como conteúdo */
        display: block;
        /* Exibe como um bloco */
        width: 1.25rem;
        /* Largura do traço */
        height: 00.125rem;
        /* Altura do traço */
        background: currentColor;
        /* Cor do traço definida como a cor atual */
        margin-top: 0.3125rem;
        /* Distância em relação ao topo */
        position: relative;
        /* Define como posição relativa */
        transition: 0.5s;
        /* Efeito de transição com duração de 0.5 segundos */
    }
    .nav:active .menu {
        height: calc(100vh - 4.6875rem);
        /* Define a altura do elemento .menu em relação à altura da tela (100vh) menos um valor fixo de 4.6875rem */
        visibility: visible;
        /* Torna o elemento .menu visível */
        overflow-y: auto;
        /* Adiciona uma barra de rolagem vertical caso o conteúdo do elemento .menu exceda sua altura definida */
    }
    .nav:active .hamburger {
        border-top-color: transparent;
        /* Define a cor da borda superior do elemento .hamburger como transparente */
    }
    .nav:active .hamburger::before {
        transform: rotate(135deg);
        /* Rotaciona o pseudo-elemento ::before do elemento .hamburger em 135 graus */
    }
    .nav:active .hamburger::after {
        transform: rotate(-135deg);
        /* Rotaciona o pseudo-elemento ::after do elemento .hamburger em -135 graus */
        top: -0.4375rem;
        /* Define a posição superior do pseudo-elemento ::after do elemento .hamburger como -0.4375rem */
    }
}