* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contato-container{
    width: 20%;
}

.contato-form {
    display: flex;
    flex-direction: column;
}

.contato-img {
    display: flex;
}