* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.curso-text1 {
    width: 263px;
    height: 69px;
    left: 82px;
    top: 198px;
    margin-top: 81px;
    margin-left: 82px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;

    text-transform: capitalize;

    color: #FF4081;
}

.curso-text2 {
    width: 317px;
    height: 23px;
    left: 82px;
    top: 267px;
    margin-left: 82px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;


    color: #555555;
}


.curso-img1 {
    margin-left: 113px;
    margin-top: 95px;
    display: flex;
}

.curso-container1 {
    margin-left: 54px;
    display: flex;
    flex-direction: column;
}

.curso-text3 {
    width: 512px;
    height: 40px;
    left: 545px;
    top: 406px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;

    color: #FF4081;
}

.curso-text4 {
    width: 724px;
    height: 105px;
    left: 545px;
    top: 483px;
    margin-top: 37px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

.curso-text5 {
    width: 216px;
    text-decoration: none;
    padding: 15px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;

    background: #419488;
    border-radius: 62px;
    border: none;
    transition: 150ms linear;
}

.curso-text5:hover {
  background-color: #FF4081;
  font-size: 21px;
  width: 220px;
  padding: 17px;
}

.linha {
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
    width: 1250px;
    height: 5px;
    background: #C4C4C4;
}

.curso-img02 {
    margin-left: 163px;
    margin-top: 95px;
    display: flex;
   
}

.curso-container02 {
    margin-left: 54px;
    display: flex;
    flex-direction: column;
}

.curso-text04 {
    width: 512px;
    height: 40px;
    left: 545px;
    top: 406px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;

    color: #FF4081;
}

.curso-text05 {
    width: 724px;
    height: 105px;
    left: 545px;
    top: 483px;
    margin-top: 37px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

.curso-text06 {
    width: 216px;
    text-decoration: none;
    padding: 15px;
    border: none;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;

    background: #419488;
    border-radius: 62px;
    transition: 150ms linear;
}

.curso-text06:hover {
  background-color: #FF4081;
  font-size: 21px;
  width: 220px;
  padding: 17px;
}

.linha {
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
    width: 1250px;
    height: 5px;
    background: #C4C4C4;
}


.curso-img003 {
    margin-left: 183px;
    margin-top: 95px;
    display: flex;
}

.curso-container004 {
    margin-left: 94px;
    display: flex;
    flex-direction: column;
}

.curso-text005 {
    width: 512px;
    height: 40px;
    left: 545px;
    top: 406px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;

    color: #FF4081;
}

.curso-text006 {
    width: 724px;
    height: 105px;
    left: 545px;
    top: 483px;
    margin-top: 37px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

.curso-text007 {
    width: 216px;
    text-decoration: none;
    padding: 15px;
    border: none;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;

    background: #419488;
    border-radius: 62px;
    margin-bottom: 200px;
    transition: 150ms linear;
}

.curso-text007:hover {
  background-color: #FF4081;
  font-size: 21px;
  width: 220px;
  padding: 17px;
}

.modal {
    display: none; /* Ocultar o modal por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  }


  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: 80%;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  .modal-img {
    width: 500px;
    height: 300px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 10px;

  }
  
  .modal-title1 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 29px;
    text-align: start;
    color: #FF4081;

    width: 550px;
    height: 29px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .modal-title2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;
    text-align: start;

    width: 400px;
    height: 29px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .modal-title3 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;
    text-align: start;
    margin-left: 20px;
  
    width: 450px;
    height: 29px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .modal-p1 {
    margin-left: 20px;
    text-align: start;
  }

  .modal-container1{
    display: flex;
    gap: 140px;
  }

  .modal-comecar {
    width: 250px;
    height: 50px;
    text-decoration: none;
    border: none;
    align-items: center;
    margin-top: 180px;
    margin-right: 300px;
    

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;

    background: #419488;
    border-radius: 62px;
    margin-bottom: 200px;
    transition: 150ms linear;
  }

.modal-comecar:hover {
  width: 255px;
  height: 55px;
  border: 3px solid #419488;
  background-color: #FF4081;
}