@charset "UTF-8";

/*
#68FEEF
#5ECEE6
#74C1FC
#5E87E6
*/

:root {
    --head_footer: #2E948A;
    --background0: #E5E5E5;
    --background1: #F7F7F7;
    --bottom_titulo_rosa: #FF4081;
    --titulo_verde: #009688;
    --p: #000000;
    --a: #FDFDFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CSS FLEXBOX 1 */

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex>div {
    flex: 1 1 200px;
    margin: 10px;
}


/* CSS GRID 1 */

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    grid-gap: 20px;
}

.grid1>section:nth-child(n + 4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.grid1>section.anuncio {
    grid-column: 1;
    grid-row: 2 / 5;
    border-top: 10px solid tomato;
    display: block;
}

@media (max-width: 600px) {
    .grid1 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid1>section:nth-child(n + 4) {
        display: block;
    }
    .grid1>div.anuncio {
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
}


/* CSS Grid 2 */

.grid2 {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

.sidebar>section {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .grid2 {
        grid-template-columns: 1fr;
    }
    .sidebar {
        display: flex;
        overflow: scroll;
    }
    .sidebar>section {
        flex: 1 0 200px;
        margin: 0 10px;
    }
}


/* SECTION GRID 3 */

.grid3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
}

.grid3-item:nth-child(1) {
    grid-row: 1 / 3;
}

.grid3-item {
    display: grid;
}

.grid3-item img {
    grid-column: 1;
    grid-row: 1/3;
    align-self: end;
}

.grid3-item p {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: white;
    grid-column: 1;
    grid-row: 2;
    align-self: end;
}

.center {
    text-align: center;
    border: 3px solid green;
}

.button1 {
    background-color: var(--bottom_titulo_rosa);
    color: var(--background0);
    border: 2px solid #FF4081;
    border-radius: 2rem;
}

.button2 {
    background-color: rgba(0, 0, 0, 0);
    color: var(--bottom_titulo_rosa);
    border: 2px solid #FF4081;
    border-radius: 2rem;
}

.buttonfooter {
    background-color: rgba(0, 0, 0, 0);
    color: var(--background1);
    border: 2px solid #E5E5E5;
    border-radius: 2rem;
}

.foto {
    width: 319px;
    height: 193px;
}

.desenho {
    width: 104px;
    height: 104px;
    border: 2px solid #FF4081;
    border-radius: 50px;
}

.div_F7 {
    background: var(--background1);
}

.desenho1 {
    width: 500px;
    height: 500px;
}